.DS_Store
.worktrees
.env
.env.local
.idea
.vscode
*~
playground
tmp
dist
/result
refs
Session.vim
/pencode.json
a.out
/target
Cargo.lock.bak
.scripts
.direnv/

# Local dev files
pencode-dev
UPCOMING_CHANGELOG.md
logs/
